:root {
  --color-white: #fff;
  --color-grey-1: #f4f4f4;
  --color-grey-2: #dedede;
  --color-grey-3: #c6c6c6;
  --color-grey-4: #afafaf;
  --color-green-light: #bddb98;
  --color-green: #94d12d;
  --color-red: #f4495b;
  --shadow-dark: rgba(#000, .23);
  --shadow-light: 0 1px 2px rgba(#000, .3);
  --line: 1px solid var(--color-primary-2);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 105rem;
  margin: 5.5rem auto;
  font-family: 'Titillium Web', sans-serif;
  background: url(../img/bg.jpg) no-repeat fixed center;
  background-size: cover;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

.header__logo {
  opacity: .4;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 140rem;
}

.container {
  width: 38rem;
}

.container__header {
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  margin-bottom: 4rem;
}

.form {
  position: relative;
  background-color: var(--color-grey-1);
  border-radius: .5rem;
  padding: 2rem;
}

.form__group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--color-grey-3);
  border-radius: .7rem;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__desc {
  margin: 1.3rem 2rem;
}

.form__line {
  position: absolute;
  left: 6rem;
  width: .2rem;
  height: 3.2rem;
  background-color: var(--color-grey-2);
}

.form__field, .form__location {
  position: absolute;
  width: 100%;
  height: 5.6rem;
  padding-left: 10rem;
  font-size: 1.6rem;
  font-family: inherit;
  border: none;
  border-radius: inherit;
  background: inherit;
  cursor: pointer;
}

.form__field:focus, .form__location:focus {
  outline: none;
}

.form__field:focus:invalid {
  border: 1px solid var(--color-red);
  -webkit-box-shadow: 0 0 4px 1px var(--color-red);
          box-shadow: 0 0 4px 1px var(--color-red);
}

.form__field:valid {
  border: 1px solid var(--color-green);
  -webkit-box-shadow: 0 0 4px 1px var(--color-green);
          box-shadow: 0 0 4px 1px var(--color-green);
}

.form__location {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__message {
  width: 100%;
  height: 23rem;
  padding: 1.5rem;
  font: 200 1.6rem 'Titillium Web';
  color: var(--color-grey-3);
  outline: none;
  border: inherit;
  border-radius: inherit;
  background: inherit;
  resize: none;
}

.form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.form__checkbox {
  display: none;
}

.form__text {
  margin-left: 4rem;
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
}

.form__tick {
  position: absolute;
  top: 0;
  left: -4rem;
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid var(--color-grey-4);
  border-radius: .7rem;
  display: inline-block;
}

.form__tick::after {
  content: '';
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: .4rem;
  background-color: var(--color-green);
  position: absolute;
  top: 20%;
  left: 20%;
  -webkit-transform: translateY(-50%, -50%);
          transform: translateY(-50%, -50%);
  opacity: 0;
}

.form__checkbox:checked ~ .form__text .form__tick::after {
  opacity: 1;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__btn {
  width: 100%;
  height: 5rem;
  font: 700 2.4rem 'Titillium Web';
  background-color: var(--color-green);
  border: 1px solid var(--color-grey-4);
  border-radius: .7rem;
  color: var(--color-white);
}

.form__btn--small {
  width: 45%;
}

.form__btn--light-green {
  background-color: var(--color-green-light);
}

.form__btn--red {
  background-color: var(--color-red);
}

.form::after {
  content: ' ';
  position: absolute;
  top: -2rem;
  right: -2rem;
  bottom: -2rem;
  left: -2rem;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
