*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; //10px
}

body {
    box-sizing: border-box;
    max-width: 114rem;
    font-family: 'Titillium Web', sans-serif;
    background: url(../img/bg.jpg) no-repeat fixed center;
    background-size: cover;
}

.header {

    &__img {
        text-align: center;
    }
}



