:root {
    --color-white: #fff;
    --color-grey-1: #f4f4f4;
    --color-grey-2: #dedede;
    --color-grey-3: #c6c6c6;
    --color-grey-4: #afafaf;
    
    --color-green-light: #bddb98;
    --color-green: #94d12d;
    --color-red: #f4495b;

    --shadow-dark: rgba(#000, .23);
    --shadow-light: 0 1px 2px rgba(#000, .3);
    --line: 1px solid var(--color-primary-2);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; //10px
}

body {
    box-sizing: border-box;
    max-width: 105rem;
    margin: 5.5rem auto;
    font-family: 'Titillium Web', sans-serif;
    background: url(../img/bg.jpg) no-repeat fixed center;
    background-size: cover;
    //min-height: 125rem;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

     &__logo {
         opacity: .4;
     }
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 120rem;
}

.container {
     width: 38rem;

     &__header {
         font-size: 3.2rem;
         font-weight: 600;
         color: var(--color-white);
         text-align: center;
         margin-bottom: 4rem;
     }
}

 .form {
     position: relative;
     background-color: var(--color-grey-1);
     border-radius: .5rem;
     padding: 2rem;

     &__group {
         display: flex;
         justify-content: space-between;
         align-items: center;
         border: 1px solid var(--color-grey-3);
         border-radius: .7rem;
     }

     &__group:not(:last-child) {
         margin-bottom: 2rem;
     }

     &__desc {
         margin: 1rem;
     }

     &__line {
        margin-left: 2rem;
        width: .2rem;
        height: 3.2rem;
        background-color: var(--color-grey-2);
     }

     &__input {
         width: 100%; //input nie wychodzi szerokością poza form__group
         margin-left: 2rem;
         font-size: 1.6rem;
         padding: 1rem;
         //border: none;
         background: inherit;
         cursor: pointer;
     }
}

.form::after {
     content: ' ';
     position: absolute;
     top: -2rem;
     right: -2rem;
     bottom: -2rem;
     left: -2rem;
     border-radius: .5rem;
     background-color: rgba(#000, .3);
     z-index: -1;
}
