:root {
    --color-white: #fff;
    --color-grey-1: #f4f4f4;
    --color-grey-2: #dedede;
    --color-grey-3: #c6c6c6;
    --color-grey-4: #afafaf;
    
    --color-green-light: #bddb98;
    --color-green: #94d12d;
    --color-red: #f4495b;

    --shadow-dark: rgba(#000, .23);
    --shadow-light: 0 1px 2px rgba(#000, .3);
    --line: 1px solid var(--color-primary-2);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; //10px
}

body {
    box-sizing: border-box;
    max-width: 105rem;
    margin: 5.5rem auto;
    font-family: 'Titillium Web', sans-serif;
    background: url(../img/bg.jpg) no-repeat fixed center;
    background-size: cover;
    //min-height: 125rem;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

     &__logo {
         opacity: .4;
     }
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 140rem;
}

.container {
     width: 38rem;

     &__header {
         font-size: 3.2rem;
         font-weight: 600;
         color: var(--color-white);
         text-align: center;
         margin-bottom: 4rem;
     }
}

 .form {
     position: relative;
     background-color: var(--color-grey-1);
     border-radius: .5rem;
     padding: 2rem;

     &__group {
         position: relative;
         display: flex;
         justify-content: space-between;
         align-items: center;
         border: 1px solid var(--color-grey-3);
         border-radius: .7rem;
     }

     &__group:not(:last-child) {
         margin-bottom: 2rem;
     }

     &__desc {
         margin: 1.3rem 2rem;
     }

     &__line {
        position: absolute;
        left: 6rem;
        width: .2rem;
        height: 3.2rem;
        background-color: var(--color-grey-2);
     }

    &__field,
    &__location {
         position: absolute;
         width: 100%; //input, select nie wychodzą szerokością poza form__group
         height: 5.6rem; //wyrównuje wysokość group i poszczegolnych inputów
         padding-left: 10rem; //odsuwam element paddingiem, nie właściowościa left, bo przesunęłabym cały element
         font-size: 1.6rem;
         font-family: inherit;
         border: none;
         border-radius: inherit;
         background: inherit;
         cursor: pointer;

         &:focus {
             outline: none;
         }
    }

    &__field:focus:invalid {
        border: 1px solid var(--color-red);
        box-shadow: 0 0 4px 1px var(--color-red);
    }

    &__field:valid {
        border: 1px solid var(--color-green);
        box-shadow: 0 0 4px 1px var(--color-green);
    }

    &__location {
         appearance: none; //defaultowa strzałka znika
    }

    &__message {
        width: 100%;
        height: 23rem;
        padding: 1.5rem;
        font: 200 1.6rem 'Titillium Web';
        color: var(--color-grey-3);
        outline: none;
        border: inherit;
        border-radius: inherit;
        background: inherit;
        resize: none; // usuwam kreski znajdujące się w dolnym prawym rogu
    }

    &__box {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__checkbox {
        padding-left: 1rem;
        // width: 2.4rem;
        // height: 2.4rem;
        // border-radius: .7rem;

        // &:checked {
        //     outline: none;
        // }

        //  &::after {
        //     //content: '';
        //     //display: block;
        //     //position: absolute;
        //     //top: 1.9rem;
        //     //left: .5rem;
        //     //width: 1.4rem;
        //     //height: 1.4rem;
        //     //border-radius: .5rem;
        //     //background-color: var(--color-green);
        //     //background-image: url(/img/tick.png);
        //     //background-size: 2rem;
    
        //     //opacity: 0;
        //  }
    }

    &__check {
    //    display: block;
    //     width: 1.4rem;
    //     height: 1.4rem;
    //     border-radius: .5rem;
        background-image: url(/img/tick.png);

    //     opacity: 0;
    }

    // &__checkbox:checked + &::after {
    //     opacity: 1;
    // }

     &__desc {
         font-size: 1.6rem;
     }

     &__btn {
         width: 100%;
         height: 5rem;
     }
}

.form::after {
     content: ' ';
     position: absolute;
     top: -2rem;
     right: -2rem;
     bottom: -2rem;
     left: -2rem;
     border-radius: .5rem;
     background-color: rgba(#000, .3);
     z-index: -1;
}
