:root {
    --color-white: #fff;
    --color-grey-1: #f4f4f4;
    --color-grey-2: #dedede;
    --color-grey-3: #c6c6c6;
    --color-grey-4: #afafaf;
    
    --color-green-light: #bddb98;
    --color-green: #94d12d;
    --color-red: #f4495b;
    --color-black: #000;

    --shadow-dark: 0 2rem 6rem rgba(#000, .3);
    --line: 1px solid var(--color-primary-2);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; //10px
}

body {
    box-sizing: border-box;
    max-width: 95rem;
    margin: 5.5rem auto;
    font-family: 'Titillium Web', sans-serif;
    background: url(../img/bg.jpg) no-repeat fixed center;
    background-size: cover;
    //min-height: 125rem;
}

.header {
    margin-bottom: 3rem;

     &__logo {
         display: block;
         margin: 0 auto;
         opacity: .4;
     }
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    height: 120rem;
}

.container {
    
    &__header {
        font-size: 3.2rem;
        font-weight: 600;
        color: var(--color-white);
        text-align: center;
        margin-bottom: 4rem;
    }
}

.form {
    display: flex;
    flex-direction: column;
    flex: 1;

    font-size: 1.6rem;
    margin-bottom: 6rem;

    &__group {
        display: flex;
        //align-items: center;
        background-color: var(--color-grey-1);
        box-shadow: 0 2rem 2rem rgba(var(--color-black), .5);
        padding: 2rem;
    }

    &__desc {
        //padding: 2px;
        justify-content: center;
        align-items: center;

        margin-right: 1rem;
    }

    &__line {
        width: 1px;
        height: 10px;
        color: var(--color-grey-2);
        margin-right: 2rem;
    }

    &__input {
        color: var(--color-grey-4);
        border: 1px solid var(--color-grey-3);
        border-radius: .7rem;
        align-items: center;
    }
}
