*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; //10px
}

body {
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
    background: url(../img/bg.jpg) no-repeat fixed center;
    background-size: cover;
    //background-attachment: fixed;
    //background-position: center;
}

.header {
    position: relative;
    height: 20vh;
    margin: 3rem auto;

    &__img {
        position: absolute;
        text-align: center;
    }
}



