*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; //10px
}

body {
    max-width: 95rem;
    margin: 5rem auto;
    font-family: 'Titillium Web', sans-serif;
    background: url(../img/bg.jpg) no-repeat fixed center;
    background-size: cover;
}

.header {
    

    &__logo {
        
    }
}



