:root {
    --color-white: #fff;
    --color-grey-1: #f4f4f4;
    --color-grey-2: #dedede;
    --color-grey-3: #c6c6c6;
    --color-grey-4: #afafaf;
    
    --color-green-light: #bddb98;
    --color-green: #94d12d;
    --color-red: #f4495b;
    --color-black: #000;

    --shadow-dark: 0 5rem 6rem rgba(#000, .3);
    --shadow-light: 0 1px 2px rgba(#000, .3);
    --line: 1px solid var(--color-primary-2);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; //10px
}

body {
    box-sizing: border-box;
    max-width: 95rem;
    margin: 5.5rem auto;
    font-family: 'Titillium Web', sans-serif;
    background: url(../img/bg.jpg) no-repeat fixed center;
    background-size: cover;
    //min-height: 125rem;
}

.header {
    margin-bottom: 3rem;

     &__logo {
         display: block;
         margin: 0 auto;
         opacity: .4;
     }
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
    height: 120rem;
}

.container {

    &__header {
        font-size: 3.2rem;
        font-weight: 600;
        color: var(--color-white);
        text-align: center;
        margin-bottom: 4rem;
    }
}

.form {
    display: flex;
    flex-direction: column;

    background-color: var(--color-grey-1);
    border-radius: .5rem;
    width: 38rem;
    padding: 2rem;

    &__group {
        display: flex;
        border: 1px solid var(--color-grey-3);
        border-radius: .7rem;
    }

    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__desc {
        margin: .6rem 1rem;
    }

    &__line {
        width: .2rem;
        height: auto;
        color: var(--color-grey-4);
    }

    &__input {
        border: none;
        background: inherit;
        margin: auto;
        cursor: pointer;
    }
}
