:root {
    --color-white: #fff;
    --color-primary-1: #f3f3f3;
    --color-primary-2: #f4f4f4;
    --color-primary-3: #f6f6f6;
    --color-green-light: #bddb98;
    --color-green: #94d12d;
    --color-red: #f4495b;

    --shadow-dark: 0 2rem 6rem rgba(#000, .3);
    --line: 1px solid var(--color-primary-2);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; //10px
}

body {
    box-sizing: border-box;
    max-width: 95rem;
    margin: 5.5rem auto;
    font-family: 'Titillium Web', sans-serif;
    background: url(../img/bg.jpg) no-repeat fixed center;
    background-size: cover;
    //min-height: 125rem;
}

.header {
    margin-bottom: 2rem;

     &__logo {
         display: block;
         margin: 0 auto;
         opacity: .4;
     }
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    font-size: 1.6rem;
}

.form {
    display: flex;
    flex-direction: column;
    flex: 1;

    background-color: var(--color-primary-2);
    margin-bottom: 4rem;

    &__header {
        font-size: 3.2rem;
        font-weight: 600;
    }

    &__group {
        display: flex;
        //align-items: center;
        padding: 2rem;
    }

    &__desc {
        //padding: 2px;
        justify-content: center;
        align-items: center;

        margin-right: 1rem;
    }

    &__line {
        width: 1px;
        height: auto;
        color: var(--color-primary-2);
        margin-right: 2rem;

    
    }
}
