*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 95rem;
  margin: 5.5rem auto;
  font-family: 'Titillium Web', sans-serif;
  background: url(../img/bg.jpg) no-repeat fixed center;
  background-size: cover;
}

.header {
  margin-bottom: 2rem;
}

.header__logo {
  display: block;
  margin: 0 auto;
  opacity: .4;
}

.main {
  min-height: 115vh;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
