* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Titillium Web', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header {
  position: relative;
  margin: 3rem;
}

.header__img {
  position: absolute;
  top: 30%;
}
