:root {
  --color-white: #fff;
  --color-grey-1: #f4f4f4;
  --color-grey-2: #dedede;
  --color-grey-3: #c6c6c6;
  --color-grey-4: #afafaf;
  --color-green-light: #bddb98;
  --color-green: #94d12d;
  --color-red: #f4495b;
  --color-black: #000;
  --shadow-dark: 0 5rem 6rem rgba(#000, .3);
  --shadow-light: 0 1px 2px rgba(#000, .3);
  --line: 1px solid var(--color-primary-2);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 95rem;
  margin: 5.5rem auto;
  font-family: 'Titillium Web', sans-serif;
  background: url(../img/bg.jpg) no-repeat fixed center;
  background-size: cover;
}

.header {
  margin-bottom: 3rem;
}

.header__logo {
  display: block;
  margin: 0 auto;
  opacity: .4;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  height: 120rem;
}

.container {
  width: 38rem;
}

.container__header {
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  margin-bottom: 4rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: var(--color-grey-1);
  border-radius: .5rem;
  padding: 2rem;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--color-grey-3);
  border-radius: .7rem;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__desc {
  margin: .6rem 1rem;
}

.form__line {
  width: .2rem;
  height: auto;
  color: var(--color-grey-4);
}

.form__input {
  border: none;
  background: inherit;
  margin: auto;
  cursor: pointer;
}

.form::after {
  content: ' ';
  position: absolute;
  top: -2rem;
  right: -2rem;
  bottom: -2rem;
  left: -2rem;
  border-radius: .3rem;
  background-color: var(--color-black) 0.3;
}
